<mat-progress-bar *ngIf="isLoading" mode="indeterminate"></mat-progress-bar>
<mat-card class="form-card">
  <mat-card-title class="form-card-title">Add Post</mat-card-title>
  <mat-card-content>
    <form (ngSubmit)="createPost()" [formGroup]="createPostForm">
      <div class="input-field">
        <mat-label>Post Image</mat-label>
        <input (change)="handleFileUpload($event)" class="file-input" accept="image/*" type="file" required>
      </div>

      <mat-form-field class="input-field">
        <mat-label>Title</mat-label>
        <input type="text" matInput formControlName="title" required>
        <mat-error class="error-input-text" *ngIf="createPostForm.get('title')?.touched && createPostForm.get('title')?.hasError('required')">
          This field is required.
        </mat-error>
      </mat-form-field>

      <mat-form-field class="input-field">
        <mat-label>Description</mat-label>
        <textarea matInput formControlName="description" required></textarea>
        <mat-error class="error-input-text" *ngIf="createPostForm.get('description')?.touched && createPostForm.get('description')?.hasError('required')">
          This field is required.
        </mat-error>
      </mat-form-field>

      <div class="form-actions">
        <a class="cancel-button" routerLink="/" mat-raised-button>Cancel</a>
        <button [disabled]="createPostForm.invalid" class="create-post-button" type="submit" mat-raised-button>Submit</button>
      </div>
    </form>
  </mat-card-content>
</mat-card>
